{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "footer.html" %}

<div class="container-fluid text-center">
  <div class="about">
       <h1>About</h1>
       <br>
       <p>This site is a Novels Catalog.</p>
       <P>we implemented the login to this site with google third party, so you can log in with your Google account for now.</P>
       <p>Then you will have the Permission to add or edit or delete the novels information.</p>
       <p>You can't make a change with information that someone else's added it.</p>
       <p>You can browse the site even if you do not log in, but you will not have the permission to make any action.</p>
       <br>
       <p>The Developer.</p>
    </div>
</div>

  {% endblock %}
